<!-- <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> -->
<header >
  <nav id="nav-wrap">

   <div class="row">
       <ul id="nav" class="nav">
           <li><a href="/">Home</a></li>
           <li><a href="blog">Blog</a></li>
           <li><a href="post">New Post</a><li>
       </ul>
       <ul id ='nav' >
         <!-- <li><a href="login">login</a><li> -->
       </ul>

       <!-- end #nav -->
   </div>
  </nav>
  <!-- end #nav-wrap -->
</header> <!-- Header End -->
