<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html encode='utf-8'>
  <head>
    <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
  <!-- <link rel="stylesheet" href="stylesheets/default.css"> -->
	<!-- <link rel="stylesheet" href="stylesheets/layout.css"> -->
	<link rel="stylesheet" href="stylesheets/media-queries.css">
  <!-- <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> -->
  <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>



    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>

{{{body}}}












</body>

</html>
