<link rel="stylesheet" href="stylesheets/default.css">
<link rel="stylesheet" href="stylesheets/layout.css">
{{>header}}
<h1 align="center">
  Page not found.<br>
  Please render other pages
</h1>
{{>footer}}
